.tooltip {
  background: radial-gradient(
      107.81% 212.88% at 0% 0%,
      rgba(255, 155, 227, 0.4) 0%,
      rgba(255, 252, 184, 0.4) 25%,
      rgba(189, 252, 201, 0.4) 50%,
      rgba(126, 247, 255, 0.4) 75%
    ),
    #fff;
  border: 1px solid var(--color-black16);
  display: none;
  padding: 8px 16px;
  position: absolute;
  left: 28px;
  top: 28px;
  z-index: 1;
  box-shadow: 2px 2px 16px -3px rgba(255, 0, 234, 0.16);
}
.tooltip:before {
  content: "👆";
  display: block;
  position: absolute;
  font-style: normal;
  left: -32px;
  top: -2px;
  color: var(--color-black);
  font-size: 24px;
}
p.tooltipText {
  color: var(--color-black);
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  text-wrap: balance;
  text-align: center;
}
