:root {
  --color-black: #21242c;
  --color-black60: rgba(33, 36, 44, 0.5);
  --color-black16: rgba(33, 36, 44, 0.16);

  --color-pink: #ff00ea;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

body {
  background: radial-gradient(
    107.81% 212.88% at 0% 0%,
    rgba(255, 155, 227, 0.4) 0%,
    rgba(255, 252, 184, 0.4) 25%,
    rgba(189, 252, 201, 0.4) 50%,
    rgba(126, 247, 255, 0.4) 75%,
    rgba(255, 255, 255, 0) 100%
  );
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

/* typography */
h1,
h2 {
  font-family: var(--font-fancy);
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  font-style: italic;
}
h1 {
  color: var(--color-black);
}
h2 {
  color: var(--color-black60);
  font-style: italic;
}

h3,
h4,
h5 {
  font-family: var(--font-monospace);
  font-weight: 400;
}

p {
  font-family: var(--font-monospace);
}

main {
  max-width: 1170px;
  padding: 80px;
}
