/* Home page CSS */
/* Layout */
.main,
.pageHeader,
.content,
.experience,
.backstory {
  display: flex;
  box-sizing: border-box;
}

.main,
.pageHeader,
.experience,
.backstory {
  flex-direction: column;
}

.main {
  gap: 60px;
  width: 100%;
}

.content {
  gap: 80px;
}

.experience {
  gap: 60px;
  width: 60%;
}

/* Link styles */
.main a {
  text-decoration: none;
}
a.link:hover .title,
a.link:hover .subtitle {
  font-style: italic;
}
a.link:hover .title {
  color: var(--color-pink);
}

.inlineLink {
  color: var(--color-black);
  border-bottom: 1px solid var(--color-black16);
  text-decoration: none;
}

.inlineLink:hover {
  font-style: italic;
}

/* typography */
.experienceGroup p {
  line-height: 26px;
}

.experienceGroup p a {
  color: var(--color-black);
  text-decoration: none;
}
.experienceGroup p a:hover {
  color: var(--color-pink);
  font-style: italic;
}
.footer h3,
.experienceGroup h3 {
  color: var(--color-pink);
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.experienceLineItem a {
  color: var(--color-black);
  text-decoration: none;
  position: relative;
}

.experienceGroup ol {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.experienceGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.experienceLineItem a {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

/* typography */
.title {
  color: var(--color-black);
}
.subtitle {
  color: var(--color-black60);
}

.experienceLineItem a:hover .title {
  color: var(--color-pink);
  font-style: italic;
}

.backstory {
  flex: 1;
  gap: 40px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .experienceLineItem a {
    flex-direction: column;
  }
  .content {
    gap: 32px;
  }
  .experience,
  .backstory {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .main {
    padding: 48px 32px;
    gap: 32px;
  }
  .experience {
    gap: 32px;
  }
  .experienceGroup {
    gap: 16px;
  }
  .content {
    flex-direction: column-reverse;
  }
  .experience,
  .backstory {
    width: 100%;
  }
  .tooltip {
    display: none;
  }
}

/* Tooltip */
.tooltip {
  background: radial-gradient(
      107.81% 212.88% at 0% 0%,
      rgba(255, 155, 227, 0.4) 0%,
      rgba(255, 252, 184, 0.4) 25%,
      rgba(189, 252, 201, 0.4) 50%,
      rgba(126, 247, 255, 0.4) 75%
    ),
    #fff;
  border: 1px solid var(--color-black16);
  display: none;
  padding: 8px 16px;
  position: absolute;
  left: 28px;
  top: 28px;
  z-index: 1;
  box-shadow: 2px 2px 16px -3px rgba(255, 0, 234, 0.16);
}
.tooltip:before {
  content: "👆";
  display: block;
  position: absolute;
  font-style: normal;
  left: -32px;
  top: -2px;
  color: var(--color-black);
  font-size: 24px;
}
p.tooltipText {
  color: var(--color-black);
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  text-wrap: balance;
  text-align: center;
}
.experienceLineItem a:hover .tooltip {
  display: block;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer a {
  color: var(--color-black);
  text-decoration: none;
  position: relative;
  font-size: 15px;
}

.footer a:hover .title {
  color: var(--color-pink);
  font-style: italic;
}

.links {
  display: flex;
  gap: 16px;
  width: 100%;
  flex-wrap: wrap;
}
