.main {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  gap: 60px;
  width: 100%;
}

.pageHeader {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  gap: 100px;
}

.experience {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 60%;
}

.experienceGroup h3,
.experienceLineItem a,
.experienceGroup p {
  font-family: var(--font-monospace);
  font-size: 15px;
}
.experienceGroup p {
  line-height: 26px;
}
.experienceGroup p a {
  color: var(--color-pink);
  text-decoration: none;
}
.experienceGroup p a:hover {
  font-style: italic;
}
.experienceGroup h3 {
  color: var(--color-pink);
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.experienceLineItem a {
  color: var(--color-black);
  text-decoration: none;
}

.experienceGroup ol {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.experienceGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.experienceLineItem a {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

.experienceLineItem .subtitle {
  color: var(--color-black60);
}

.experienceLineItem a:hover {
  color: var(--color-pink);
  font-style: italic;
}

.experienceLineIem a:hover .subtitle:after {
  content: "---";
  display: block;
  color: blue;
  position: absolute;
  left: 0;
  top: 0;
}

.backstory {
  flex: 1;
}

@media (max-width: 1200px) {
  .experienceLineItem a {
    flex-direction: column;
  }
  .content {
    gap: 32px;
  }
  .experience,
  .backstory {
    width: 50%;
  }
}

@media (max-width: 650px) {
  .main {
    padding: 48px 32px;
    gap: 32px;
  }
  .experience {
    gap: 32px;
  }
  .experienceGroup {
    gap: 16px;
  }
  .content {
    flex-direction: column-reverse;
  }
  .experience,
  .backstory {
    width: 100%;
  }
}
